{% extends 'post/base.html' %}

{% block content %}
    <div class="space-y-4">
        {% for post in posts %}
        <article class="p-10 bg-gray-200 rounded-xl">
            <h2 class="text-3xl">{{post.title}}</h2>
            <span class=" block text-xs text-gray-800">
                {{post.created_at}}
            </span>
            <p class="mb-4">
                {{post.intro}}
            </p>

            <a href="{% url 'post_detail' post.slug %}" class="text-emerald-500">Read More</a>
            
        </article>{% endfor %}
    </div>
{% endblock content %}

